.Default {
  background-color: #282c34;
}

.container {
  max-width: 100%;
  position: relative;
  padding: 0;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: auto;
}

.header {
  order: 1;
  background-color: #252560;
  height: 150px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.spellhold-logo {
  order: 1;
  max-height: 150px;

  flex: none;
  align-self: flex-start;
}

.spellhold-title {
  order: 2;
  color: #c2c4c6;
  font-size: calc(10px + 5vw);
  flex-grow: 1;
  text-align: center;
}

.delineator {
  order: 2;
  width: 100%;
  height: 1vh;
  background-color: #282c34;
}

.navbar {
  order: 3;
}

.page-content {
  order: 4;
  margin-top: 3vh;
  display: flex;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}
