.Default {
  background-color: #282c34;
}

.App {
  background-color: #282c34;
  flex-wrap: row;
}

.App-title {
  margin-left: 30%;
}

.App-logo {
  margin: 0;
  padding: 0;
  max-width: 15%;
  max-height: 15%;
  float: left;
  order: 1;
}

.App-header {
  background-color: #252560;
  font-size: calc(10px + 2vmin);
  color: #c2c4c6;
  float: left;
  position: relative;
  order: 2;
  width: 80%;
  height: 15%;
}

.App-link {
  color: #61dafb;
}
