.SocialsContainer {
  position: fixed;
  bottom: 0;
  background-color: #252560;
  width: 100%;
  flex-direction: row;
  display: flex;
  color: #c2c4c6;
}

.Discord {
  order: 1;
  margin-left: 300px;
  max-width: 50px;
  max-height: 50px;
  padding-right: 10px;
}

.Fb {
  order: 2;
  max-width: 50px;
  max-height: 50px;
  padding-right: 10px;
}

.Yelp {
  order: 3;
  max-width: 50px;
  max-height: 50px;
  padding-right: 10px;
}

.TCGPlayer {
  order: 4;
  max-width: 50px;
  max-height: 50px;
  padding-right: 10px;
}

.PhoneNum {
  order: 5;
}
