.HoursAndEvents {
  background-color: #282c34;
  align-content: center;
  font-size: calc(10px + 1vmin);
  color: #c2c4c6;
}

.StoreLinks {
  color: #c2c4c6;
}

.HoursTable {
  text-align: left;
}

.HoursTable td {
  padding-right: 50px;
}
