.Prizing {
  background-color: #282c34;
  align-content: center;
  font-size: calc(10px + 1vmin);
  color: #c2c4c6;
  order: 4;
}

.StoreLinks {
  color: #c2c4c6;
}

.FourRoundTable {
  text-align: left;
  float: left;
  margin-right: 200px;
}

.ThreeRoundTable {
  text-align: left;
  float: left;
  padding-left: 200px;
}
